<header>
  <h1>Eat-Da-Burger!</h1>
</header>

<br>
<br>
<br>
<div class="wrapper">
  
  <section id="burger-container">
    <div id="burgers-availabe">
      <h2>Not eatten Burgers</h2>

      <ul>
        {{#each burger}}
          {{#unless eatten}}
            {{>  burgers/burger-block eat=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div id="burgers-devoured">
      <h2>Eatten Burgers!</h2>
      <ul>
        {{#each burger}}
          {{#if eatten}}
            {{> burgers/burger-block eat=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </section>

  <div id="create-burger">
    <h2>Add a Burger</h2>
    <form action="/" method="POST">
      <input id="burger-name" type="text" name="burger_name" placeholder="Create a burger">
      <button id="submit-btn" type="submit">Make Burger!</button>
    </form>
  </div>
</div>


