header{
    text-align: center;
    color: purple;
    border-style: solid;
    border-color: burlywood;
    background-color: goldenrod;
}

body{
    background-image: url(../img/437ee200-fb38-11e9-bde5-d1a4ee5634df.png);
}

#burger-container{
    align-items: center;
    border-style: solid;
    border-color: burlywood;
    border-width: 3px;
    background-color: goldenrod;
    text-align: center;
}

#create-burger{
    text-align: center;
}